name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: bazelbuild/setup-bazelisk@v3.0.0
      - name: Mount bazel cache
        uses: actions/cache@v5.0.3
        with:
          path: "~/.cache/bazel"
          key: bazel

      - run: bazel build ...
      - run: bazel test ...
